.container {
    display: contents;
    width: 200px;
    height: 500px;
    align-items: center;
    text-align: center;
    margin: auto;
}


.child {
    display: block;
    width: 50%;
    height: 100%;
    background: red;
    overflow: scroll;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 2px solid red;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
